Repository varundeva/save-from-frauds: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, next lint --fix --file

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "next lint --fix --file"],
  "*.{json,css,md}": ["prettier --write"]
}

fix: removed pre-push build hook
  .husky/pre-push
Due: none

fix: proper precommit code added
  .husky/pre-commit
Due: none

fix: removed last commit
  .husky/pre-commit
Due: none

chore: classname order changed
  app/loading.tsx
Due: prettier --write, next lint --fix --file

build: added vscode workspace settings
  .vscode/settings.json
Due: prettier --write

fix: tailwind class order
  app/about/page.tsx
  app/frequently-asked-questions/page.tsx
  app/prevention/page.tsx
  components/MainNavigation.tsx
  components/MobileNavigation.tsx
  components/SiteFooter.tsx
  components/SiteHeader.tsx
  components/home/Blog.tsx
  components/home/Community.tsx
  components/home/Contact.tsx
  components/home/Features.tsx
  components/home/Hero.tsx
  components/home/SearchFraud.tsx
  components/icons.tsx
  components/report-form/FraudEntityForm.tsx
  components/report-form/ReportDataForm.tsx
  components/report-form/StepForm.tsx
  components/theme-toggle.tsx
Due: prettier --write, next lint --fix --file

fix: classname order changed to warn
  .eslintrc.json
  components/Loading.tsx
Due: prettier --write, next lint --fix --file

fix: exception for console log
  lib/mongoose.ts
Due: prettier --write, next lint --fix --file

feat: added entity search and details endpoint
  app/api/fraud-entity/create.ts
  app/api/report/route.ts
  app/api/search/route.ts
  app/search/page.tsx
  components/MainNavigation.tsx
  models/FraudEntity.ts
  models/Report.ts
  schemas/fraudReportSchema.ts
  schemas/validationSchemas.ts
  utils/identifyEntity.ts
Due: prettier --write, next lint --fix --file

fix: search component, api modify
  app/about/page.tsx
  app/api/search/route.ts
  app/blog/page.tsx
  app/frequently-asked-questions/page.tsx
  app/prevention/page.tsx
  app/search/page.tsx
  components/search-entity/SearchResult.tsx
  package-lock.json
  package.json
Due: prettier --write, next lint --fix --file

Update README.md
  README.md
Due: prettier --write

feat: search report and details
  app/api/report/route.ts
  app/report/[reportId]/page.tsx
  app/search/page.tsx
  components/search-entity/SearchResult.tsx
  utils/maskEmail.ts
Due: prettier --write, next lint --fix --file

feat: added hero image, policy, terms page, contact section update, blog section hidden
  app/SimpleCyberSecurity.png
  app/page.tsx
  app/privacy-policy/page.tsx
  app/report/[reportId]/page.tsx
  app/search/page.tsx
  app/terms-of-service/page.tsx
  components/MainNavigation.tsx
  components/SiteFooter.tsx
  components/home/Community.tsx
  components/home/Contact.tsx
  components/home/Hero.tsx
  components/home/SearchFraud.tsx
  components/search-entity/SearchResult.tsx
  config/docs.ts
  config/site.ts
  types/global.d.ts
Due: prettier --write, next lint --fix --file

fix: additional padding
  components/home/Community.tsx
Due: prettier --write, next lint --fix --file

fix: gtag added, env example added
  .env.example
  app/layout.tsx
  package-lock.json
  package.json
Due: prettier --write, next lint --fix --file

fix: added meta desc
  app/layout.tsx
  app/save-from-frauds.png
  config/site.ts
Due: prettier --write, next lint --fix --file

fix: seo optimise, readme update
  README.md
  app/layout.tsx
  components/home/SearchFraud.tsx
  config/site.ts
Due: prettier --write, next lint --fix --file

fix: removed dummy text
  components/home/Hero.tsx
Due: prettier --write, next lint --fix --file

Update identifyEntity.ts
  utils/identifyEntity.ts
Due: prettier --write, next lint --fix --file

Update FraudEntityForm.tsx
  components/report-form/FraudEntityForm.tsx
Due: prettier --write, next lint --fix --file

fix: trimming value
  components/report-form/FraudEntityForm.tsx
Due: prettier --write, next lint --fix --file

fix: details crash. fixed json structure
  app/api/report/route.ts
  app/report/[reportId]/page.tsx
Due: prettier --write, next lint --fix --file

fix: long desc min length error added
  components/report-form/ReportDataForm.tsx
  schemas/validationSchemas.ts
Due: prettier --write, next lint --fix --file

fix: analytics added
  app/layout.tsx
  package-lock.json
  package.json
Due: prettier --write, next lint --fix --file
